﻿/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;

}
img{
  cursor: pointer;
}
.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}
i.fa {
    padding:5px;
}
section {
    padding-top:50px;
}

p {
    font-weight:300;
    line-height:30px;
}
.pad-row {
    padding-top:40px;
    padding-bottom:40px;
}
.pad-bottom {
    padding-bottom:50px;
}


/* PRODUCTS ERRORS  */
/****users*/
.error{
    background-color: #BC1010;
    padding: 8px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #BC1010;
    border-left: 10px solid transparent;
    left: -16px;
    position:  absolute;
    top: 5px;
}

.error1{
    background-color: #BC1010;
    padding: 8px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.error1:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #BC1010;
    border-left: 10px solid transparent;
    left: -16px;
    position:  absolute;
    top: 5px;

}

.msg{
    color: white;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    position: absolute;
    right: -155px;
    text-transform: uppercase;
    min-width: 121px;
}
.msg_ok{
    background: #589D05;
}
.msg_error{
    background: red;
}

input[type="file"] {
    display: none;
}

/*****************PRODUCTS****************/
.prod {
    display:inline-block;
    margin: 8px;
    margin-bottom: 5px;
    width: 350px;
    height: 350px;
    text-align: left;
}

.prod p {
    display: inline-block;
    font-weight: bold;
    color:black;
}

#p2{
    float:right;
    font-size:  18pt;
    margin-right: 30px;
    color:red;
}


.prod:hover {
    border:1px solid gray;
}

.prodImg {
    display:block;
    width: 100%;
    height: 70%;
}

.ui-state-default .ui-icon {
        background-image: url("ui-icons_888888_256x240.png");
}

.ui-icon-closethick{
 margin-top: -8px!important;
margin-left: -8px!important;
}

#details {
    display: table;
    width: 100%;
    border:1px solid black;
    border-radius: 9px;
    background-color: #f5f1e6;
    text-align: center;
}


#details img {
    display: table-cell;
    width: 350px;
    height: 350px;
}
#container {
    display: table-cell;
    width: 350px;
    height: 350px;
    vertical-align: top;
}

/**BREADCRUMB*/
#list_prod ol li {
    font-size: 30pt;
    font-weight: bold;
}

#details_prod ol li {
    font-size: 30pt;
    font-weight: bold;
}


#progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
#bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
#percent { position:absolute; display:inline-block; top:3px; left:48%; }

.custom-file-upload {
    background: #ddd;
    border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 12px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
}

/* NAVBAR STYLE */


.navbar-inverse .navbar-nav > li > a {
color: #FFF;
}

.navbar-inverse .navbar-brand {
color: #FFF;
}


/* ADDED PADDING IN NAVBAR */


.navbar {
    padding:15px;
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
}


/* CLASS FOR REMOVING PADDING IN NAVBAR*/


.navbar-pad-original {
      padding:0px;
}



/* CARUOSEL STYLE OR SLIDESHOW STYLE*/


.back-light {
    background-color:rgba(0, 0, 0, 0.50);
    padding:10px;
}
/*NOTE SECION STYLE*/
.note-sec {
     padding-bottom:50px;
    background: url(../img/4.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
   min-height:300px;
    color:#fff;
}

/*HEADINGS IMAGE STYLE*/


.head-main-img {
     padding-bottom:50px;
    background: url(../img/4.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
   min-height:300px;
    color:#fff;
}
    .head-main-img h1 {
        padding: 50px 2px 2px 10px;
        text-transform:uppercase;
    }


 /* PRICING STYLE */


 .plan {
padding: 0 0 15px 0;
margin: 30px 0px;
list-style: none;
text-align: center;
}

.plan li {
padding: 15px 0px;
font-size: 16px;
border-bottom: 1px dotted #e1e1e1;
}

.price {
    font-size:45px!important;
}

small {
    font-size:15px;
    padding-left:10px;
}

    .plan li i {
        padding-right:10px;
    }
.price-two {
    font-size:30px!important;
    padding: 15px 0px;
background-color: rgba(162, 188, 253, 1);
color: #fff;
border: none;
font-weight: 900;
}

.adjust-border-radius {
    -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.adjust-border {
    border-top-left-radius: 0px;
 border-top-right-radius: 0px;
}


/*    PORTFOLIO STYLES*/

.portfolio-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
}

.portfolio-items.col-3 > li {
  width: 33%;
}

.portfolio-item .item-main {
  margin: 0 10px 10px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border:1px solid #E8EAEE;

}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-image {
  position: relative;
}
.portfolio-item h5 {
  margin: 0;
padding: 30px 0 30px 0;
background-color: #000;
color: #fff;
font-size: 20px;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(177, 166, 255, 1);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}

/*CONTACT STYLES*/


.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}
.add {
    font-size:20px;
    font-weight:800;
    padding:30px;
}
#contact-sec {
  padding-top:0px;
}


/* FOOTER STYLE*/


#footer-sec {
    background-color:#000;
    color:#808080;
}
    #footer-sec h4 {
        text-transform:uppercase;
        color:#fff;
    }



/* ---------------------- MENU ----------------------- */

#item_menu{
  background: #404040;
  padding: 12px;
}

/* -------------------- Carrousel -------------------- */
.item{
  height: 650px;
  width: 1300px;
  margin: auto;
}

/* ----------------------- HOME ---------------------------- */

#busqueda_categoria{
  background: #FFFFFF;
  border-radius:5px;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 40px;
}

#separador{
  background: #A0A0A0;
  height: 1px;
  margin:auto;
  width: 80%;
}

#busqueda_img{
  margin-top: 25px;
}

#categorias{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  height: auto;
  width: 520px;
}

#img_cat{
  margin-left: 50px;
}

#moneda,#primera_generacion,#segunda_generacion,#tercera_generacion,#cuarta_generacion,#quinta_generacion,#sexta_generacion,#categoria_bulto{
  padding-left: 30px;
  display: inline-table;
}

#text_cat{
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: Serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#buscador,#button_more{
  text-align: center;
  margin-top: 100px;
}

#more{
  height:50px;
  width: 50px;
  margin-bottom: 30px;
}

/* ------------------------- LIST MONEDAS ------------------------- */

#busqueda_cripto{
  background: #FFFFFF;
  border-radius:5px;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 40px;
}

#monedas{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  height: auto;
  width: 520px;
}

#0x,#aelf,#Aeternity,#Aion,#Ardor,#Ark,#Augur,#Basic-Attention-Token,#Binance-Coin,#Bitcoin,#Bitcoin-Cash,#Bitcoin-Diamond,#Bitcoin-Gold,#Bitcoin-Private,#BitShares,#Bytecoin,#Bytom,#Cardano,#Dash,#Decred,#DigiByte,#DigixDAO,#Dogecoin,#EOS,#Ethereum,#Ethereum-Classic,#Golem,#Hshare,#ICON,#IOStoken,#IOTA,#Komodo,#KuCoin-Shares,#Lisk,#Litecoin,#Loopring,#Maker,#Monero,#Nano,#NEM,#NEO,#OmiseGO,#Ontology,#Populous,#RChain,#Ripple,#Siacoin,#Status,#Steem,#Stellar,#Stratis,#Tether,#TRON,#VeChain,#Verge,#Waltonchain,#Wanchain,#Waves,#Zcash,#Zilliqa{
  padding-left: 30px;
  display: inline-table;
}

#back{
  text-align: center;
}

#volver{
  margin-left: 50%;
  margin-bottom: 30px;
}

#boot_page{
  text-align: center;
}

#input-user{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  height: auto;
  width: 520px;
}
#map {
  height: 500px;
  width: 90%;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
 }

 /* ----------------- contact ------------------- */

#contact{
  margin: auto;
  text-align: center;
}

#control-group {
margin-top: 150px;
}

#inputSubject_contact {
  width: auto;
  margin: auto;
}

#contact_text{
  margin-top: 20px;
  width: 450px;
  height: 200px;
  margin-bottom: 30px;
}

#email-area {
  margin-top: 20px;
}

#contact_email{
  background: #FFFFFF;
  margin: auto;
  border-radius: 30px;
  width: 400px;
  height: 40px;
}
#enviar{
  border-radius: 20px;
  height: 30px;
  width: 60px;
  background: #FFFFFF;
  margin-bottom: 30px;
}

/* --------------LOGIN --------------------- */

#usuario_login,#pass_login,#email_reset,#pass_reset,#email_reser,#pass_reset2,#usuario_register,#nombre_register,#email_register,#pass_register,#usuario_google,#rep_pass_register{
  background: #FFFFFF;
  border-radius:10px;
  width: 100%;
  height: 30px;
  background: #FFFFFF;
  margin: left;
  margin-left: 20px;
}
#login{
  width: 80%;
  margin: auto;
  background: transparent;
  border-radius:20px;
  margin-bottom: 30px;
  height: auto;
}

#social_login{
  display: inline-table;
}
#logintwitter,#logingoogle{
  display: inline-table;
}

#input_login{
  width: 1150px;
  margin: auto;
  background-color:#F3F3F3;
  border-radius:20px;
  padding: 40px;
}
#login_png{
  display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}
#texto{
  color: #5E5E5E;
}

#login_btn,#register_btn,#reset_btn,#submit,#submit_profile, #likes_crypto, #comment_crypto{
  padding: 5px 5px 0px 0px;
  background-color: #EAEAEA;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #EAEAEA;
  cursor:pointer;
  color:#000000;
  font-family:Arial;
  font-size:17px;
  padding:14px 24px;
  margin-left: auto;
  margin-right: auto;
  text-decoration:none;
}
#submit_profile{
  margin-top: 30px;
}
#enter_login,#register_user{
  display:inline-block;
}
#botones_login{
  margin: auto;
  margin-left: 0px;
  margin-top: 30px;
}
#contenido_login{
  padding: 40px;
  width: 500px;
  background-color:#FFFFFF;
  border-radius:20px;
}
/*----------------------REGISTER-----------------------*/
#botones_register{
  margin: auto;
  margin-left: 0px;
  margin-top: 30px;
}
#contenido_register{
  padding: 40px;
  width: 500px;
  background-color:#FFFFFF;
  border-radius:20px;
  margin-left: 35px;
}
#log_out{
  background: none;
  border: none;
}

#avatar{
  border-radius:20px;
}

/*----------------RESET-----------------*/
#input-reset{
  margin-top: 30px;
  padding: 40px;
  width: 700px;
}
/* ---- PROFILE------*/
#profile{
  margin-bottom: 40px;
  margin-top: 30px;
  margin: auto;
  height: 200px;
}

.list-group-item{
}
.list-group{
  text-align: center;
}

#pager{
  text-align: center;
}

#comentarios{
  margin-left: 20px;
  width: 500px;
}

#cryptolikes{
  margin-left: 20px;
  padding: 0px 20px;
}