<br>
<br>
<br>
<br>
<br>
	<div id="login">
    <div id="input_login">
    	<div id="input-login">
    		<img src="frontend/assets/img/login.png" id="login_png">
    		<br>
	    	<form autocomplete="on" method="post" name="enter_login" id="enter_login">
	    		<h1 id="texto">Login</h1>
	    		<div id="contenido_login">
		        	<table id="table_login">
			            <tr>
			                <td>Usuario: </td>
			                <td><input required type="text" ng-model="usuario_login" id="usuario_login" name="usuario_login" placeholder="usuario"/></td>
			                <span class="text-danger" ng-show="enter_login.usuario_login.$error.required && (enter_login.usuario_login.$dirty || enter_login.usuario_login.$touched)">El usuario es necesario</span>
			                <td id="mensaje_login"></td>
			            </tr>
			            <tr>
			                <td>Contraseña: </td>
			                <td><input required type="password" ng-model="pass_login" id="pass_login" name="pass_login"  placeholder="contraseña" value=""/></td>
			                <span class="text-danger" ng-show="enter_login.pass_login.$error.required && (enter_login.pass_login.$dirty || enter_login.pass_login.$touched)">La contraseña es necesaria</span>
			                <td id="mensaje_pass_login"></td>
			            </tr>
			        </table>
			    	<table id="botones_login">
				        <td>
				        	<a type="button" value="Login" ng-show="enter_login.usuario_login.$valid && enter_login.pass_login.$valid" ng-click="ownlogin()" id="login_btn">Login</a>
				        </td>
			        	<td>
			        		<a type="button" value="Reset" id="reset_btn" href="#/user/reset"/>He olvidado mi contraseña</a>
			        	</td>
		    		</table>
		    	</div>
	        </form>
	        <form autocomplete="on" method="post" name="register_user" id="register_user">
		        <h1 id="texto">Register</h1>
		        <br>
		        <div id="contenido_register">
		            <table id="register">
		                    <tr>
		                        <td>Usuario: </td>
		                        <td>
		                        	<input type="text" ng-model="usuario_register" id="usuario_register" name="usuario_register" placeholder="usuario""/>
		                        	<span class="text-danger" ng-show="register_user.usuario_register.$error.required && (register_user.usuario_register.$dirty || register_user.usuario_register.$touched)">El usuario es necesario</span>
		                        </td>
		                        <td id="mensaje_usuario_reg">{{register_usuario}}</td>
		                    </tr>

		                    <tr>
		                        <td>Email: </td>
		                        <td>
		                        	<input type="text" id="email_register" ng-model="email_register" name="email_register" placeholder="email" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i"/>
		                        	<span class="text-danger" ng-show="register_user.email_register.$error.email">El e-mail no es valido</span>
		                        	<span class="text-danger" ng-show="register_user.email_register.$error.required && (register_user.email_register.$dirty || register_user.email_register.$touched)">El e-mail es necesario</span>

		                        </td>
		                        <td id="mensaje_email_reg">{{register_email}}</td>
		                    </tr>

		                    <tr>
		                        <td>Contraseña: </td>
		                        <td>
		                        	<input type="password" ng-model="pass_register" id="pass_register" name="pass_register" placeholder="contraseña" value=""/>
		                        	<span class="text-danger" ng-show="register_user.pass_register.$error.required && (register_user.pass_register.$dirty || register_user.pass_register.$touched)">La contraseña es necesaria</span>
		                        </td>
		                        <td id="mensaje_pass_reg">{{register_pass}}</td>
		                    </tr>
		            </table>
		            <table id=botones_register>
			    		<td>
			    			<a type="button" value="Register" id="register_btn" ng-show="register_user.usuario_register.$valid && register_user.email_register.$valid && register_user.pass_register.$valid" ng-click="ownregister()" />Register</a>
			    		</td>
		    		</table>
		        </div>
	    	</form>
	    </div>
    	
    	<div id="social_login">
    		<img id="logingoogle" ng-click="google()" class="busqueda_img" src="frontend/assets/img/google_plus.png" height="150px" width="150px">
    		<img id="logintwitter" ng-click="twitter()" class="busqueda_img" src="frontend/assets/img/twiter_icono.png" height="150px" width="150px">
		</div>
	</div>
</div>
