<div id="input-reset">
	<form autocomplete="on" ng-model="enter_reset" name="enter_reset" id="enter_reset">
    		<h1 id="texto">Reset</h1>
    		<div id="contenido_login">
	        	<table id="table_login">
	        		<tr>
		                <td>e-mail: </td>
		                <td><input type="text" required ng-model="email_reser" id="email_reser" name="email_reser" placeholder="email" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" /></td>
		                <span class="text-danger" ng-show="enter_reset.email_reser.$error.email">El e-mail no es valido</span>
                    	<span class="text-danger" ng-show="enter_reset.email_reser.$error.required && (enter_reset.email_reser.$dirty || enter_reset.email_reser.$touched)">El e-mail es necesario</span>
		                <td id="mensaje_email_reser"></td>
		            </tr>
		            <tr>
		                <td>Contraseña: </td>
		                <td><input type="password" required ng-model="pass_reset" id="pass_reset" name="pass_reset" placeholder="contraseña" /></td>
		                <span class="text-danger" ng-show="enter_reset.pass_reset.$error.required && (enter_reset.pass_reset.$dirty || enter_reset.pass_reset.$touched)">La contraseña es necesaria</span>
		                <td id="mensaje_pass_reset"></td>
		            </tr>
		        </table>
	    	</div>

	    	<table id="botones_login">
		        <td>
		        	<button ng-click="reset_passwrd()" value="Reset" id="submit" ng-show="enter_reset.email_reser.$valid && enter_reset.pass_reset.$valid">Submit</button>
		        </td>
			</table>
		</div>
	</form>
</div>