<br>
<br>
<br>
<br>
<br>
<h1>Profile</h1>
<form autocomplete="on" ng-model="enter_profile" name="enter_profile" id="enter_profile">
	<div id="profile">
	<table>
		<tr>
			<td>User name:</td><td id='error_nameuser'><input type='text' ng-model="nameuser" name='nameuser' id='nameuser' required='required' placeholder='Name user' ng-value=profile_usuario[0].nameuser /></td>
		</tr>
		<tr>
			<td>Name: </td><td id='error_username'><input type='text' ng-model="username" name='username' id='username' required='required' placeholder='User name' ng-value=profile_usuario[0].username /></td>
		</tr>
		<tr>
			<td>Surname: </td><td id='error_surname'><input type='text' ng-model="surname" name='surname' id='surname' required='required' placeholder='User surname' ng-value=profile_usuario[0].surname /></td>
		</tr>
		<tr>
			<td>Datebirthay: </td><td id='error_datebirthay'><input type='text' calendar ng-model="datebirthay" name='datebirthay' id='datebirthay' required='required' placeholder='Reception date' ng-value=profile_usuario[0].datebirthay /></td>
		</tr>
		<tr>
			<td>Email: </td><td id='error_email'><input type='text' ng-model="email" name='email' id='email' required='required' placeholder='email' ng-value=profile_usuario[0].email /></td>
		</tr>
      
    
		<!--<tr>
          <td>Where from you:</td>
        </tr>
        <tr>
            <td>Country: </td>
            <td id="error_country">
              <select name="country" id="country" ng-repeat="data in paises">
                <option selected>Select country</option>
                <option value='{{data.code}}'>{{data.name}}</option>
              </select>
              <div></div>
            </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
            <td>Province: </td>
            <td id="error_province">
            <select name="province" id="province">
              <option selected>Select province</option>
            </select>
            <div></div>
            </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
            <td>City: </td>
            <td id="error_city">
              <select name="city" id="city">
              <option selected>Select city</option>
            </select>
            <div></div>
            </td>
        </tr>-->
        <!-- ng-repeat="myrate in rating_profile"-->
	</table>
   <div>
    <p>calificacion de monedas: </p>
    <table border="1px">
      <tr>
        <td id="cryptolikes">
          <p>{{rating_profile}}</p>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <p>Monedas que me gustan: </p>
    <table border="1px">
      <tr>
        <td id="cryptolikes" ng-repeat="data in monedas">
          <p>{{data}} </p>
        </td>
      </tr>
    </table>
	</div>
  <button type='button' ng-value='profile' ng-click="submit()" ng-model="submit_profile" id='submit_profile'>Submit</button>
	</div>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>