<form id="contact_form" name="contact_form" class="form-contact">
	<div id="contact">
		<div id="control-group">

		            <label for="sel1">Subject</label>
		            <select required class="form-control" ng-model="inputSubject_contact" id="inputSubject_contact" name="inputSubject_contact" title="Choose subject">
		                <option value="compra">Info relativa a tu compra</option>
		                <option value="evento">Celebra un evento con nosotros</option>
		                <option value="programacion">Contacta con nuestro dpto de programacion</option>
		                <option value="Trabaja">Trabaja con nosotros</option>
		                <option value="proyectos">Deseas proponernos proyectos</option>
		                <option value="sugerencias">Haznos sugerencias</option>
		                <option value="reclamaciones">Atendemos tus reclamaciones</option>
		                <option value="club">Club rural_shop</option>
		                <option value="sociales">Proyectos sociales</option>
		                <option value="festivos">Apertura de festivos</option>
		                <option value="novedades">Te avisamos de nuestras novedades</option>
		                <option value="diferente">Algo diferente</option>
		            </select>

		            <span class="text-danger" ng-show="contact_form.inputSubject_contact.$error.required && (contact_form.inputSubject_contact.$dirty || contact_form.inputSubject_contact.$touched)">Elija una opcion</span>
	        		<span class="text-danger" ng-show="contact_form.inputSubject_contact.$error.opcion">Elija una opcion</span>
		</div>

		<div id="email-area">
			<input required type="text" ng-model="contact_email" id="contact_email" name="contact_email" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" placeholder="Introduzca su e-mail">
	        
	        <span class="text-danger" ng-show="contact_form.contact_email.$error.required && (contact_form.contact_email.$dirty || contact_form.contact_email.$touched)">The email is required</span>
	        <span class="text-danger" ng-show="contact_form.contact_email.$error.email">The email is not valid</span>
		</div>

		<textarea required type="text" ng-model="contact_text" id="contact_text" name="contact_text" placeholder="Introduzca el contenido de su consulta"></textarea>
		
		<span class="text-danger" ng-show="contact_form.contact_text.$error.required && (contact_form.contact_text.$dirty || contact_form.contact_text.$touched)">Debe de escribir su consulta</span>
	    <span class="text-danger" ng-show="contact_form.contact_text.$error.textarea">Debe de escribir su consulta</span>
		<div id="send-area">
			<button ng-show="contact_form.inputSubject_contact.$valid && contact_form.contact_email.$valid && contact_form.contact_text.$valid" ng-click="enviar_contact()" id="enviar">SEND</button>
		</div>
	</div>
</form>