<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
    <script type="text/javascript" src="modules/usuario/view/js/list_usuario.js"></script>
</head>
<br/>
<section id="results-page">
    <div class="container">
        <div class="center">
            <h2>Añadir el usuario: <?php print_r($_SESSION['user']['nameuser'])?></h2>
        </div>

        <!-- <?php print_r($_SESSION['user'])?> -->
        <div id="input-user">
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->
