<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="frontend/assets/img/ethereum.png">
      <div class="carousel-caption">
        <h3>Ethereum</h3>
        <p>Ethereum is always so much fun!</p>
      </div>
    </div>

    <div class="item">
      <img src="frontend/assets/img/bitcoin.jpg">
      <div class="carousel-caption">
        <h3>Bitcoin</h3>
        <p>Thank you, Bitcoin!</p>
      </div>
    </div>

    <div class="item">
      <img src="frontend/assets/img/litecoin.jpeg">
      <div class="carousel-caption">
        <h3>Litecoin</h3>
        <p>Litecoin is always so much fun!</p>
      </div>
    </div>

    <div class="item">
      <img src="frontend/assets/img/iota.jpg">
      <div class="carousel-caption">
        <h3>IOTA</h3>
        <p>We love the IOTA!</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="buscador">
  <input type="text" ng-model="busqueda_cripto" id="busqueda_cripto" name="busqueda_cripto" placeholder="Busca una cryptomoneda" ng-keyup="complete(busqueda_cripto)">
  <img ng-click="busqueda_moneda()" id="busqueda_img" class="busqueda_img" src="frontend/assets/img/icono_busqueda.png" height="30px" width="30px">
  <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
    <li class="list-group-item" ng-repeat="dataMoneda in filterMoneda" ng-click="fillTextBox(dataMoneda)">{{dataMoneda}}</li>
  </ul>
</div>
<div id="separador"></div>
<div id="categorias">
  <section>
    <table>
      <tr>
        <td id="insert_categories">
        <!-- 
          onclick="guardar_classe(this)"
          onclick="guardar_classe(this)"
        --> 
         <div ng-repeat="data in categoria" id='{{data.nombre}}'><img ng-click="seecat(this)" id="img_cat" class='{{data.cod_cat}}' src='{{data.url}}' height="200px" width="200px"><p id="text_cat" class='{{data.cod_cat}}'>{{data.nombre_salida}}</p></div>
        </td>
      </tr>
  </table>
  </section>
</div>
<div id="button_more">
  <img ng-click="morecat()" id="more" src="frontend/assets/img/more.png">
</div>