<head>
  <!--<script type="text/javascript" src="frontend/modules/home/view/lib/boot_page.js"></script>-->
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
</head>
<div id="buscador">
  <input type="text" ng-model="busqueda_cripto" id="busqueda_cripto" name="busqueda_cripto" placeholder="Busca una cryptomoneda" ng-keyup="complete(busqueda_cripto)">
  <img ng-click="busqueda_moneda()" id="busqueda_img" class="busqueda_img" src="frontend/assets/img/icono_busqueda.png" height="30px" width="30px">
  <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
    <li class="list-group-item" ng-repeat="dataMoneda in filterMoneda" ng-click="fillTextBox(dataMoneda)">{{dataMoneda}}</li>
  </ul>
</div>
<div id="separador"></div>
<div id="monedas">
  <section>
    <table>
      <tr>
        <td id="insert_monedas">
          <div ng-repeat="data in muestra_monedas" id='moneda' ng-click="seemoneda(this)"><img ng-click="seecat(this)" id="img_cat" class='{{data.nombre}}' src='frontend/assets/img/bitcoin_icono.jpg' height="200px" width="200px"><p id="text_cat" class='{{data.nombre}}'>{{data.nombre_web}}</p></div>
        </td>
      </tr>
    </table>
  <div id="pager">
    <uib-pagination class="pagination-sm pagination" total-items="todas_monedas.length" ng-model="currentPage"
      ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=4></uib-pagination>
  </div>
  </section>
</div>


<h3>Este mapa es una prueba, cada cryptomoneda tiene una longitud y una latitud, estas estan puestas al azar</h3>
<div id="map" ng-model="map"></div>