<div id="buscador">
  <input type="text" ng-model="busqueda_cripto" id="busqueda_cripto" name="busqueda_cripto" placeholder="Busca una cryptomoneda" ng-keyup="complete(busqueda_cripto)">
  <img ng-click="busqueda_moneda()" id="busqueda_img" class="busqueda_img" src="frontend/assets/img/icono_busqueda.png" height="30px" width="30px">
  <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
    <li class="list-group-item" ng-repeat="dataMoneda in filterMoneda" ng-click="fillTextBox(dataMoneda)">{{dataMoneda}}</li>
  </ul>
</div>
<div id="separador"></div>
<div id="monedas">
  <section>
    <table>
      <tr>
        <td id="insert_moneda">
            <!--<div ng-repeat="moneda in crypto">

              <p id="price_euro">Price on: {{moneda]}}€</p>
              <p id="market_cap">Market capital: {{moneda}}€</p>
              <p id="max_supply">Max capital: {{moneda}}€</p>

            </div>-->
            <p>{{crypto}}</p>
            <div ng-repeat="data in datos">

            <p id="price_bitcoin">Price on btc: {{data.price_btc}}</p>
            <p id="name_moneda">Nombre: {{data.name}}</p>
            <p id="percent_change_7d">Change on 7d: {{data.percent_change_7d}}%</p>
            <p id="percent_change_24h">Change on 24h: {{data.percent_change_24h}}%</p>
            <p id="percent_change_1h">Change on 1h: {{data.percent_change_1h}}%</p>
            <p id="rank">Rank on cryptocurrencies: {{data.rank}}</p>
            
            </div>

            <!-- <button id='volver' onclick='back()'>Click me back</button>-->
            <!-- ng-repeat="data in comentarios" -->
        </td>
        <td>
          <div style="height: 200px; overflow-y: scroll">
            <p id="comentarios"> Aqui van los comentarios asjukidiaskdbjiausdbusaygbdusa sadsauy dsguay sgduysad sjhabduahsdbuasy huasdygduasygd uysagvdusygd uasyd uasy u dsau disa sad basbjiausdbusaygbdusa sadsauy dsguay sgduysad
              <!-- {{data}}-->
            </p>
          </div>
          <textarea rows="4" cols="50"></textarea><br>
          <button id="comment_crypto" ng-click="comment()">Comment</button>
          <div>
            <table>
              <tr>
                <td ng-repeat="data in rate">
                  <img src="frontend/assets/img/estrella.svg" height="50px" width="50px" id="{{data}}" ng-click="rating(this)"/>
                </td>
                <a>Opiniones: {{cantidad}}</a><br>
                <a>Media: {{media}}</a>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
    <button id="likes_crypto" ng-click="likecrypto()">Like this cripto</button>
  </section>
</div>
<div id="back"></div>