<!-- <div id="overbox3" ng-controller="cookiesCtrl"> -->
  <div id="overbox3">
    <div id="infobox3" ng-show="accept_cookies">
        <p >Esta web utiliza cookies para obtener datos estadísticos de la navegación de sus usuarios.
		Si continúas navegando consideramos que aceptas su uso.
        <a href="#/cookies" > Más información </a>
        <a ng-click="close();" style="cursor:pointer;">X Cerrar</a></p>
    </div>
</div>
