<div ng-controller="menuCtrl" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <input type='image' src='{{img}}' id='avatar' height='50px' width='50px'>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#/">Home</a></li>

                <li><a href="#/shop">Shop</a></li>

                <li ng-show="create_user"><a href="#/create_user">Create User</a></li>

                <li ng-show="login"><a href="#/login" id="menu_login">Login</a></li>
                
                <li><a href="#/contact">Contact</a></li>
                
                <li><a id="usuario">Usuario: {{usuario}}</a></li>

                <li ng-show="profile_loged"><a href="#/user/profile">Profile</a></li>

                <li ng-show="log_out" ng-click="logout()"><a><button id="log_out">Log Out</button></a></li>
            </ul>
        </div>
    </div>
</div>
